@using Blockchain_Transactions_Diplom.ViewModels
@model ResetPasswordViewModel

<div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 200px); padding-top: 60px; padding-bottom: 60px;">
    <div class="card" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h4 class="mb-3 text-center">Reset Password</h4>
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="needs-validation" novalidate="">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                <input asp-for="Code" hidden />
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" readonly value="@ViewData["Email"]" asp-for="Email" class="form-control" id="email">
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="" required>
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="" required>
                    <div class="invalid-feedback">
                        Please confirm your password.
                    </div>
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Confirm!</button>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 2rem;
    }

    .needs-validation input:focus {
        border-color: #fc81cd;
        box-shadow: 0 0 0 0.25rem rgba(252, 129, 205, 0.25);
    }


    .needs-validation input {
        border-radius: 0.25rem;
    }
    .form-label {
        font-weight: 500;
        color: #333;
    }

    .btn-primary {
        background-color: #fc81cd;
        border-color: #fc81cd;
    }

    .btn-primary:hover {
        background-color: #e170b6;
        border-color: #e170b6;
    }

    .invalid-feedback {
        font-size: 0.875em;
        color: #d9534f;
    }

</style>