@model IQueryable<SmartContract>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

}

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item list-group-item-light" style="display:flex; justify-content:space-between;">
            <div>
                <h3>@item.Exercise.Name</h3>
                <h4>@item.ContractValue Coins</h4>
            </div>
            <div class="align-items-center">
                <a asp-action="Details" asp-controller="SmartContract" asp-route-idSmartContract="@item.ContractId" class="btn btn-info btn-lg w-20" style="margin-top:17%;" role="button">Details</a>
            </div>

        </li>
    }
</ul>