@model bool


@if(Model){
    <h1>Payment was successful, we sent you your coins</h1>
}
else{
    <h1>Payment failed, try again!
        Check payment via LiqPay. And then repeat the request to check the payment status in the Account Info tab to receive your tokens.
    </h1>
}