@using Blockchain_Transactions_Diplom.ViewModels;
@model TransactionCreateViewModel;

<form asp-controller="Coin" asp-action="CreateTransactionT" method="post" class="needs-validation" novalidate="">
    <!-- Ваши поля формы с правильными атрибутами asp-for и name -->
    <input asp-for="FromPublicKey" type="text" class="form-control" placeholder="" required="" name="FromPublicKey">
    <input asp-for="FromPrivateKey" type="text" class="form-control" placeholder="" required="" name="FromPrivateKey">
    <input asp-for="ToPublicKey" type="text" class="form-control" placeholder="" required="" name="ToPublicKey">
    <input asp-for="Amount" type="number" class="form-control" placeholder="" required="" name="Amount">
    <button class="w-100 btn btn-primary btn-lg" type="submit">Confirm!</button>
</form>
