<div class="container1">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="section-title">Contact Us</h1>
            <div class="section-content">
                <p>If you have any questions, feedback, or need assistance, please feel free to reach out to us. Our team is here to help you and ensure you have the best experience possible.</p>
            </div>

            <h2 class="section-title">Contact Information</h2>
            <div class="contact-info">
                <h4>Email:</h4>
                <p>support@freelanceexchange.com</p>
            </div>
            <div class="contact-info">
                <h4>Phone:</h4>
                <p>+380 (98) 456-7890</p>
            </div>
            <div class="contact-info">
                <h4>Address:</h4>
                <p>Shevchenka boulevard 274, Mariupol, Ukraine</p>
            </div>

        </div>
    </div>
</div>

<style>


    .container1 {
        margin-top: 50px;
    }

    .section-title {
        color: #fc81cd;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .section-content {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 40px;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .contact-info h4 {
        color: #fc81cd;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .contact-info p {
        color: #6c757d;
    }

    .btn-primary {
        background-color: #ffd1e5;
        border-color: #ffd1e5;
        color: #343a40;
    }

    .btn-primary:hover {
        background-color: #ffc1d9;
        border-color: #ffc1d9;
    }
</style>